html{
    background-color: rgb(213, 213, 213);

}

#topbanner .container{
    display: flex;
    flex-direction: row;
    background-color: rgb(186, 186, 186);
    width: 100%;
    height: 100%;
    align-items: center;
    outline-color;:black
}

#topbanner .container .logo{
    background-color: white;
    margin: 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#topbanner .container .main{
    background-color: white;
    color:black;
    flex-grow: 1;
    margin: 1px;
    text-align: center;
    text-justify: center;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 4px;
}

#topbanner .optionsbar{
    display: flex;
    position:sticky;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    padding: 7px;
    outline-width: 5px;

}

#topbanner .optionsbar >div{
    position: sticky;
    background-color: white;
    padding: 13px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: grey;
    padding: 5px;
    top:20;

}